@use '../../styles/mixins' as *;

.homeIcon {
  @include icon-mask('/icons/Home.svg', 16px);

  &:hover {
    background-color: var(--color-accent);
  }
}

.rightArrowIcon {
  @include icon-mask('/icons/rightArrow.svg', 16px);

  background-color: var(--color-icons);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 32px 80px;

  @include on-tablet {
    padding: 24px 24px 64px;
  }

  @include on-phone {
    padding: 16px 16px 64px;
  }
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  gap: 8px;
  align-items: center;
}

.breadcrumbsTitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  color: var(--text-secondary);
}

.title {
  margin: 0;
  margin-top: 40px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1%;

  @include on-phone {
    font-size: 32px;
  }
}

.modelsCount {
  margin: 0;
  margin-top: 8px;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.filters {
  display: flex;
  margin: 0;
  margin-top: 40px;
  gap: 16px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 24px;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include on-small-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-phone {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}
