@mixin icon-mask($url, $size: 16px) {
  display: inline-block;
  width: $size;
  height: $size;
  mask-image: url($url);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text-main);
  transition: background-color 0.3s ease;
}

$breakpoint-tablet: 1199px;
$breakpoint-small-tablet: 799px;
$breakpoint-phone: 639px;

@mixin on-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin on-small-tablet {
  @media (max-width: $breakpoint-small-tablet) {
    @content;
  }
}

@mixin on-phone {
  @media (max-width: $breakpoint-phone) {
    @content;
  }
}
